@import "tailwindcss";

#app {
  max-width: 99vw;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: normal;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Gang of Three';
  src: url('@/assets/fonts/go3v2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
